* {
    font-family: Roboto, sans-serif sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    width: 100%;
    top: 0;
    left: 0;
    /*position: absolute;*/
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#navbar-logo a {
    padding: 10px;
    color: black;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
    display: flex;
    justify-content: space-between;
}

header li {
    padding: 0 12px;
    list-style: none;
    text-decoration: none;
}

header a {
    text-decoration: none;
    padding: 12px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
    font-size: 20px;
    color: black;
}

li a:hover,
li a:active {
    color: rgb(255,251,0);
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgb(0,0,0,0.2);
    text-underline: black;
}

